<p>{{ user?.name }}</p>
<!-- 3 main buttons -->
<td>
  <button class="btn action-button_in me-2" (click)="openParameterForm()">
    ➕
  </button>
  <button class="btn action-button_in" (click)="openUpdateParameterForm()">
    ✏️
  </button>

  <button class="btn action-button_in" (click)="view()">🔍</button>
  <!-- <a
      [routerLink]="['/user', user.id, 'user-detail']"
      routerLinkActive="highlight-icon"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn action-button_in"
    >
      📋
    </a> -->
</td>
<!-- view form -->
<div class="add_user_form2" *ngIf="isViewForm">
  <div class="modal-content3">
    <table class="user-table">
      <tbody>
        <tr>
          <td class="label" i18n>Name</td>
          <td class="value">{{ user.name }}</td>
        </tr>
        <tr>
          <td class="label" i18n>Email</td>
          <td class="value">{{ user.email }}</td>
        </tr>
        <tr>
          <td class="label" i18n>Role</td>
          <td class="value">{{ user.isAdmin }}</td>
        </tr>

        <tr *ngFor="let param of output_param">
          <td class="label" i18n>{{ param.paramName }}</td>
          <td class="value">{{ param.paramValue }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- add form -->
<form (ngSubmit)="addParameter(parameterForm)" #parameterForm="ngForm">
  <div class="add_user_form2" *ngIf="isAddParamForm">
    <div class="modal-content2">
      <div class="row">
        <div class="mb-2">
          <label for="name" i18n>Name of the parameter</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]="parameter_data.paramName"
            required
          />
        </div>
        <div class="mb-2">
          <label for="email" i18n>Value of the parameter</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="parameter_data.paramValue"
            required
          />
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn action-button2" i18n>Add</button>
      </div>
    </div>
  </div>
</form>
<!-- update form -->
<form (ngSubmit)="updateParameter(updateForm)" #updateForm="ngForm">
  <div class="add_user_form2" *ngIf="isUpdateForm">
    <div class="modal-content3">
      <table class="user-table">
        <tbody>
          <tr>
            <td class="label" i18n>Name</td>
            <td>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control input-large"
                [(ngModel)]="user.name"
                required
              />
            </td>
          </tr>
          <tr>
            <td class="label" i18n>Email</td>
            <td>
              <input
                type="text"
                id="email"
                name="email"
                class="form-control input-large"
                [(ngModel)]="user.email"
                required
              />
            </td>
          </tr>
          <tr>
            <td class="label" i18n>Role</td>
            <td>
              <select
                id="role"
                class="form-select"
                [(ngModel)]="user.isAdmin"
                name="role"
              >
                <option value="user" i18n>User</option>
                <option value="admin" i18n>Admin</option>
              </select>
            </td>
          </tr>

          <tr *ngFor="let param of output_param; let i = index">
            <td class="label" i18n>{{ param.paramName }}</td>
            <td>
              <input
                type="text"
                [id]="'param-' + i"
                [name]="'param-' + i"
                class="form-control input-large"
                [(ngModel)]="param.paramValue"
                required
              />
            </td>
          </tr>

          <tr>
            <td colspan="3" style="text-align: center">
              <button
                type="submit"
                class="btn action-button2"
                id="update"
                i18n
                style="display: inline-block"
              >
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
