.container{
    font-size: 3rem;
    margin-left: 10rem;
    margin-right:10rem;
};
.user-table {
  width: 100%;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.05); /* полупрозрачная подложка */
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  font-size: 1rem;

}

th, td {
  padding: 0.75rem 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #f0f0f0;
}