.container{
    align-items: top;
    text-align: center;
    font-size: 4rem;
    padding: 0%;
    margin: 0%;
}
#second{
    text-align: right;
    margin-right: 3vw;
    padding-top: 2vw;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 1vw;
}